@import "./Variable";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-text;
    color:$secondary;
}
body {
    background: #10201F;
    overflow-X:hidden;
}

/*------------------------HEADER-----------------------*/

header{
    &::before{
        content:"";
        position: absolute;
        width: 1863px;
        height: 792px;
        left: -630px;
        top: -236px;
        background: $primary;
        filter: blur(300px);
        //box-shadow: 00px 300px 300px $primary;
        border-radius: 50%;
        z-index: -1;
    }
    height: 100vh;
    max-width: $width-max;
    margin: auto;
    //padding: 0 5vw;
    padding:200px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

    .logo-container{
        align-self: center;
        p{
            margin-bottom:25px;
            font-size: 1.75em;
            color: $blanc;
            &:last-of-type{
                font-size: 1em;
                font-weight:200;
                font-style: italic;
            }
        }
        .logo{
            margin-bottom: 80px;
            #Socomo_logo{
                fill:$blanc;
                width: 50%;
            }
            h1{
                font-family: $font-title;
                font-size: 9em;
                font-weight: 500;
                color: $blanc;
            }
        }

    }
    .phone{
        max-width: 40%;
        display: block;
        position: relative;
        z-index: 10;
        img{
            width: 100%;

        }
        &::before{
            content: "";
            position: absolute;
            width: 110%;
            height:auto;
            top:0;
            right:0;
            background: url("./img/telephone.png");

        }
    }
}

/*------------------------NAV---------------------------*/

.navbar {
    position: absolute;
    width: 100%;
    height: 200px;
    padding:0 80px;
    ul{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        li{
            padding-right:80px;
            &:last-of-type{
                padding-right:0px ;
            }
            a{
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 2px;
                color:$blanc;
                font-weight: 200;
            }
        }
    }


}

/*--------------------CONTAINER--------------------------*/

.container{
    &::before{
        content: "";
        width: 100vw;
        height: 100%;
        top:80px;
        left: 50%;
        position: absolute;
        background: $blanc;
        z-index: -1;
        transform: translateX(-50%);
        clip-path: ellipse(160% 50% at 50% 50%);
    }
    position: relative;
    max-width: $width-max;
    margin: auto;
    background: $blanc;
    padding: 80px;
    h2{
        font-family: $font-title;
        color:$primary;
        font-size: 2.5em;
        font-weight: normal;
        margin-bottom:100px;

    }
    .infoSocomo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin-bottom:100px;
        & > *{
            flex:1 1 0;
        }
        p{
            margin-top:35px;
            font-size: 1.5em;
            span{
                font-weight: 700;
                display: block;

            }
        }
    }

    .video{
        h2{
            text-align: left;
        }
        position: relative;
        z-index: 10 ;
        text-align: center;
       /* &::before{
            content:"";
            position: absolute;
            bottom:-100px;
            left: 50%;
            transform: translateX(-50%);
            display : inline-block;
            height : 0;
            width : 0;
            border-bottom : 500px solid $secondary;
            border-left : 100vw solid transparent;
            z-index: -1;
        }*/
    }
    .arrive_bientot{
        &::before{
            content:"";
            position: absolute;
            top:-100%;
            left: 50%;
            display : inline-block;
            height : 300%;
            width : 200vw;
            background: $secondary;
            transform:translateX(-50%) skewY( -7.5deg);
            z-index: -1;
        }
        position: relative;
        margin-top:100px;
        padding-top:150px;
        text-align: center;
        z-index: 9;
        background: $secondary;
        p{
            font-size: 3.5em;
            font-family: $font-title;
            color:$blanc;
            margin-bottom: 50px;
        }
        .logo_download{
            display: flex;
            flex-flow: row;
            justify-content: center;
            img{
                width: 300px;
                margin:0 30px;
            }
        }
    }

    .contact{
        margin-top: 550px;
        .contact-container{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

        .contact-form{
            width: 40%;
            form{
                width: 100%;
                div{
                    margin-bottom: 25px;
                    label{
                        display: block;
                        margin-bottom:10px;
                        font-weight: 700;

                    }
                    input,
                    textarea{
                        width: 100%;
                        resize:none;
                        padding:15px;
                        border-radius: 5px;
                        outline: none;
                        border: 1px solid $primary;
                    }
                }
                .btn.submit{
                    display: block;
                    margin-top: 25px;
                    padding: 25px 50px;
                    border-radius: 5px;
                    width: fit-content;
                    background: $primary;
                    font-family: $font-title;
                    color:$blanc;
                    text-decoration: none;
                }

            }
        }

    }
}

/*--------------------FOOTER--------------------------*/

footer{
    width: $width-max;
    margin:auto;
    margin-top: 150px;

        .logo{
            text-align: center;
            margin-bottom: 80px;
            width: 350px;
            #Socomo_logo{
                fill:$blanc;
                width: 50%;
            }
            h3{
                font-family: $font-title;
                font-size: 4em;
                font-weight: 500;
                color: $blanc;
            }
        }


}